* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/pattern.png);
    background-size: 300px;
    height: 100px;
    background-color: royalblue;
}

.logo {
    height: 80px;
    padding-top: 50px;
    padding-left: 5px;

}

.azzurro {
    color: aqua;
}

div {
    padding-left: 10px;
}

.evidenziato {
    background-color: yellow;
}

thead {
    background-color: cornflowerblue;
    color: aliceblue;
    background-size: cover;
}

th {
    padding-left: 100px;
    padding-right: 100px;
}

.azzurrino {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 106, 255, 0.696);
}

.bianco {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(230, 240, 240, 0.821);
}

.bianco1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(230, 240, 240, 0.821);
}

.grigio {
    color: rgba(181, 177, 177, 0.845);
}

table {
    border-collapse: collapse;
}

ul {
    padding-left: 20px;
}